language: php

sudo: false

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm
    - 7.0
    - 7.1

env:
  global:
    - TRAVIS_NODE_VERSION="6"
    - COMPOSER_NO_INTERACTION="1"
  matrix:
    - COMPOSER_ARGS=""
    - COMPOSER_ARGS="--prefer-lowest"

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm
  yarn: true

install:
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

before_script:
    - phpenv config-rm xdebug.ini || true
    - bash -c "composer update $COMPOSER_ARGS"

script:
    - vendor/bin/codecept run
