<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% set cssUrl = webpack_asset('@MabaWebpackTestBundle/Resources/assets/main.js', 'css') %}
    {% if cssUrl %}
    <link rel="stylesheet" href="{{ cssUrl }}"/>
    {% endif %}

    <!-- Test if compiles asets with spaces: {{ webpack_asset(
        '@MabaWebpackTestBundle/Resources/assets/directory with space/asset name with space.css'
    ) }}" -->
</head>
<body>
<script src="{{ webpack_asset('@MabaWebpackTestBundle/Resources/assets/main.js') }}"></script>
</body>
</html>