<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {# webpack css works as expected #}
    {% webpack css '@maba_webpack_test/indexed/css0.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}

    {# webpack css works as expected with multiple files #}
    {% webpack css '@MabaWebpackTestBundle/Resources/assets/indexed/css1.css'
                           '@maba_webpack_test/indexed/css2.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack %}
</head>
<body>
    {% webpack '@maba_webpack_test/cat.png' '@maba_webpack_test/cat.png' %}
    <img src="{{ asset_url }}"/>
    {% end_webpack %}

    {% webpack js '@maba_webpack_test/indexed/js0.js' '@maba_webpack_test/indexed/js1.js' %}
    <script src="{{ asset_url }}"></script>
    {% end_webpack %}
</body>
</html>