<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {# webpack_stylesheets works as expected #}
    {% webpack_stylesheets '@maba_webpack_test/indexed/css0.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack_stylesheets %}

    {# webpack_stylesheets works as expected with multiple files #}
    {% webpack_stylesheets '@MabaWebpackTestBundle/Resources/assets/indexed/css1.css'
                           '@maba_webpack_test/indexed/css2.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% end_webpack_stylesheets %}
</head>
<body>
    {% webpack_assets '@maba_webpack_test/cat.png' '@maba_webpack_test/cat.png' %}
    <img src="{{ asset_url }}"/>
    {% end_webpack_assets %}

    {% webpack_javascripts '@maba_webpack_test/indexed/js0.js' '@maba_webpack_test/indexed/js1.js' %}
    <script src="{{ asset_url }}"></script>
    {% end_webpack_javascripts %}
</body>
</html>