<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{ maba_webpack_css_asset('@MabaWebpackTestBundle/Resources/assets/customized.js') }}
</head>
<body>
    <img src="{{ maba_webpack_file_asset('@MabaWebpackTestBundle/Resources/assets/logo_symfony.png') }}">
    <script src="{{ maba_webpack_asset('@MabaWebpackTestBundle/Resources/assets/customized.js') }}"></script>
</body>
</html>